body {
    background-image: url("file:///Users/staceycarrillo/Desktop/TriviaGame/assets/images/guitar.jpg");
    padding-bottom: 20px;
}

.jumbotron {
    text-align: center;
}

#timerBtn {
    padding-bottom: 10px;
}

#q1 {
    opacity: 0.85;
    padding-top: 10px;
    padding-bottom: 10px;
}

#q2 {
    opacity: 0.85;
    padding-bottom: 10px;
}

#q3 {
    opacity: 0.85;
    padding-bottom: 10px;
}

#q4 {
    opacity: 0.85;
    padding-bottom: 10px;
}

#q5 {
    opacity: 0.85;
    padding-bottom: 10px;
}

#q6 {
    opacity: 0.85;
    padding-bottom: 10px;
}

#q7 {
    opacity: 0.85;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #ec479e;
    border-color: #ec479e;
    padding-bottom: 10px;
}